.game__tracker {
  width: fit-content;
  padding: 15px;
}

.tracker {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  background-image: url('../../assets/images/backgrounds/old-paper-texture-background.avif');
  background-size: cover;
  border-radius: 10px;
  border: 1px solid var(--dark-translucent);
  margin: 0;
}

.tracker__content {
  border: 10px solid var(--dark-translucent);
  padding: 20px;
}

.tracker__stages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 30px;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: 'Bookman Old Style Cyr', sans-serif;
}

.stage__title {
  font-size: 1.8rem;
  display: block;
  width: 70px;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.counter__item {
  width: 50px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--light);
  color: var(--light);
}

.counter__item_green {
  background-color: var(--green-cards);
}

.counter__item_yellow {
  background-color: var(--yellow-cards);
}

.counter__item_blue {
  background-color: var(--blue-cards);
}

.tracker__current-settings {
  margin-bottom: 10px;
}

.current-settings {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: 'Bookman Old Style Cyr', sans-serif;
  font-size: 1.4rem;
  align-self: flex-start;
}