.ancients__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  min-height: 425px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .ancients__list {
    gap: 15px;
    min-height: auto;
  }
}