*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: -apple-system, New-York;
}

li {
    list-style-type: none;
}

body {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .8s ease-in-out;
}

body:before {
    content: '';
    display: block;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .6);
    z-index: -1;
}

.header {
    text-align: center;
}

.logo img {
    max-width: 250px;
    margin: 10px 0;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
    flex: 1 0 auto;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    width: 100%;
}

.ancients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ancient-card {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 260px;
    width: 200px;
    border-radius: 15px;
    transition: all .3s ease-in-out;
}

.ancient-card.active {
    box-shadow: 0 0 15px 7px #5d170b;
}

.general {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #e2d4c6;
    clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.difficulty {
    background-color: inherit;
    width: fit-content;
    padding: 5px;
}

.difficulty.active {
    text-decoration: underline;
    color: #691d10;
    font-weight: 800;
    font-size: 18px;
}

.difficulty:hover {
    text-decoration: underline;
}

.button {
    color: #000;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 9px;
    transition: all .3s ease-in-out;
}

.shuffle {
    background-color: rgb(179, 166, 124, .8);
}

.shuffle:hover {
    background-color: rgba(141, 131, 98, .6);
    box-shadow: 0 0 4px 2px rgba(141, 131, 98);
}

.deck-container {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

.deck {
    background-size: cover;
    height: 190px;
    width: 130px;
    border-radius: 15px;
    cursor: pointer;
    visibility: hidden;
}

.deck.active {
    visibility: visible;
}

.cards-container {
    display: flex;
}

.card {
    background-size: cover;
    height: 190px;
    width: 130px;
    border-radius: 15px;
    margin: -60px;
}

.footer {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
}

.copyright {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.copyright-text {
    font-size: 14px;
    opacity: .3;
    color: #e2d4c6;
}

.github {
    width: 32px;
    background-image: url("../assets/copyright/github.svg");
    background-size: 32px;
}

.rs-school {
    width: 50px;
    background-image: url("../assets/copyright/rs-school.svg");
    background-size: 50px;
}

.copyright-link {
    display: block;
    height: 32px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: .3;
}

.copyright-link:hover {
    opacity: 1;
}