.current-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.current-settings__ancient {
  font-size: 2.5rem;
}

.current-settings__difficulty {
  font-size: 2rem;
  font-family: 'Bookman Old Style Cyr', sans-serif;
}

.game {
  animation: slide-up .3s linear;
}

.game__button {
  display: flex;
  justify-content: center;
}