.ancient-card {
  cursor: pointer;
  height: 320px;
  width: 250px;
  transition: all .7s ease-in;
  padding: 0;
  margin: 0;
}

.ancient-card__image {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.ancient-card.active {
  box-shadow: 0 0 15px 7px var(--ancient-card-shadow);
  width: 320px;
  height: 410px;
  border-radius: 15px;
}