.ancient-card {
  cursor: pointer;
  width: 150px;
  height: 200px;
  padding: 0;
  margin: 0;
}

.ancient-card__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all .7s ease-in;
}

.ancient-card.active .ancient-card__image {
  box-shadow: 0 0 15px 7px var(--ancient-card-shadow);
  border-radius: 15px;
  width: 155px;
}