:root {
  --overlay: rgba(0, 0, 0, 0.3);
  --primary: rgba(141, 131, 98, 0.6);
  --button-shadow: rgb(141, 131, 98);
  --selected: rgb(160, 0, 0);
  --button-hover: rgba(150, 150, 150, 0.6);
  --button-hover-shadow: rgb(154 154 154);
  --ancient-card-shadow: #292f51;
  --light: #FFF;
  --yellow-cards: #AA8000;
  --blue-cards: #4D59A3;
  --green-cards: #3A611F;
  --title: #493712;
  --border: #c9c3b9;
  --text: rgb(35, 34, 34);
  --block-border: #7b7267;
  --block-border-shadow: #c1ad93ed;
}