* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  font-family: 'Medieval', sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(0.2rem);
  transition: background-image .8s ease-in-out;
  color: var(--dark-translucent);
}

body:before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
  z-index: -1;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.button {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  transition: all .3s ease-in-out;
  border: none;
  padding: 0;
  font-family: 'Bookman Old Style Cyr', sans-serif;
}

.button_shadow {
  padding: 12px 35px;
  border-radius: 20px;
  background-color: var(--primary);
  box-shadow: 0 0 14px 2px var(--button-shadow);
}

.button_shadow:hover {
  background-color: var(--button-hover);
  box-shadow: 0 0 14px 2px var(--button-hover-shadow);
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}