.main__settings {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
}

.settings {
  background-image: url('../../assets/images/backgrounds/old-paper-texture-background.avif');
  background-size: cover;
  animation: slide-up .3s linear;
}

.settings__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 5px double var(--block-border);
  padding: 20px;
  box-shadow: inset 0 0 15px 2px var(--block-border-shadow);
}

.settings__content {
  width: 50%;
}

.settings__content:first-child {
  border-right: 1px solid var(--border);
}

.settings__button {
  display: flex;
  justify-content: center;
}

.ancients {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ancients__text {
  display: block;
  font-family: "Bookman Old Style Cyr", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 15px;
  color: var(--selected);
}

.ancients__content {
  padding-right: 20px;
}

.difficulties__content {
  padding-left: 20px;
}

@media (max-width: 1000px) {
  .settings__content {
    width: 100%;
  }

  .ancients__content {
    padding-right: 0;
  }

  .difficulties__content {
    padding-left: 0;
  }

  .ancients {
    border: none;
  }

  .settings__content:first-child {
    border-right: initial;
  }

  .settings__content:last-child {
    margin-top: 30px;
  }

  .settings__button {
    margin-top: 30px;
  }
}