.difficulties__levels {
  padding: 30% 0;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 2rem;
}

.button_difficulty {
  color: var(--dark-translucent);
  background-color: inherit;
  position: relative;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button_difficulty.active {
  color: var(--selected);
}

.button_difficulty:hover {
  color: var(--selected);
}

@media (max-width: 1000px) {
  .difficulties__levels {
    padding: 5% 0;
  }
}